<ng-container *ngIf="tasks | async as tasks; else loading">
  <div class="row">
    <div class="col-md-3 mb-2" *ngFor="let task of tasks">
      <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
          {{ task.user }}
          <button class="btn btn-danger" (click)="deleteTask(task.id)"><i class="far fa-trash-alt"></i></button>
        </div>

        <div class="card-body text-dark">
          {{ task.task }}
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <span>Loading tasks...</span>
</ng-template>
